{% load static %}
<!doctype html> 
</html language = 'en'> 

    <head> 
        <meta charset="utf-8">
        <meta name = "viewport" content = "width =device-width, initial-scale = 1,shrink-to-fit =no">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel = "stylesheet" type = "text/css" href ="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel ="stylesheet" type = "text/css" href = {% static 'style.css' %}>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
        
        <title>DJ project {% block title %} {% endblock title %} </title> 

    </head>

    <body>
        {% include 'navbar.html' %}
        <div class = 'ui container'>
            {% block content %} 
            {% endblock content %}
        </div>

    <script type = 'text/javascript' src = {% static 'main.js' %}> </script>  
    </body>
    
</html> 